<div class="row-fluid">
<span class="label label-info">User Rating Count For Current Version: <%= @userRatingCountForCurrentVersion%></span>
</div>
<div class="row-fluid">
<span class="label label-info">Average User Rating For Current Version: <%= @averageUserRatingForCurrentVersion%></span>
</div>
<div class="row-fluid">
<span class="label label-info">Average User Rating: <%= @averageUserRating%></span>
</div>
<div class="row-fluid">
<span class="label label-info">User Rating Count: <%= @userRatingCount%></span>
</div>
<div class="row-fluid">
<span class="label label-info">Artist Name: <%= @artistName%></span>
</div>
<div class="row-fluid">
<div class="col-xs-3 col-md-3">
    <a href="#" class="thumbnail">
      <img src=<%= @artWorkUrl%> alt="...">
    </a>
 </div>
</div> 